# URL de la API del Backend (sin barra al final)
# Local: http://localhost:3001
# Producción: https://api.tu-radio.com
VITE_API_BASE_URL=http://localhost:3001

# URL del backend (Google OAuth)
VITE_GOOGLE_CLIENT_ID=
