.git
node_modules
.expo/
dist/
.turbo/
.idea/

android/build/
android/.gradle/
ios/build/
ios/Pods/

*.log

**/__tests__
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx

.env
.env.local
.env.development
